<header
    class="col-[1/4] row-[1/2] flex items-center justify-between border-b-2 border-cyan-300 p-3"
>
    <div>
        <img
            class="w-10"
            src="./assets/images/icon_rackets.png"
            alt="Raquetas cruzadas"
        />
    </div>
    <div class="hidden font-bold md:inline">
        <ul class="flex flex-row space-x-3">
            <li><a href="./index.html">Inicio</a></li>
            <li><a href="./members.html">Miembros</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Contactanos</a></li>
        </ul>
    </div>
    <div class="md:hidden">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            data-slot="icon"
            class="h-8 w-8"
        >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
            />
        </svg>
    </div>
</header>
