<div class="flex flex-wrap justify-center">
  <div
      class="bg-white m-5 shadow-md rounded-lg overflow-hidden max-w-xs"
  >
      <img
          class="w-full"
          src="./assets/images/AI_Images_Tennis_1.jpeg"
          alt="player1"
      />
      <h2 class="font-bold text-center mt-3">Carlos Veloz</h2>
      <p class="px-3 text-center my-4">
          Carlos Veloz deslumbra con su agilidad y precisión
          en la cancha, un joven prodigio que promete grandes
          victorias.
      </p>
  </div>
  <div
      class="bg-white m-5 shadow-md rounded-lg overflow-hidden max-w-xs"
  >
      <img
          class="w-full"
          src="./assets/images/AI_Images_Tennis_2.jpeg"
          alt="player1"
      />
      <h2 class="font-bold text-center mt-3">Carlos Veloz</h2>
      <p class="px-3 text-center my-4">
        Luz Marina, la tenista audaz, conquista con su potente saque y elegancia única, una fuerza imparable en cada partido. 
      </p>
  </div>
  <div
      class="bg-white m-5 shadow-md rounded-lg overflow-hidden max-w-xs"
  >
      <img
          class="w-full"
          src="./assets/images/AI_Images_Tennis_5.jpeg"
          alt="player1"
      />
      <h2 class="font-bold text-center mt-3">Carlos Veloz</h2>
      <p class="px-3 text-center my-4">
        Eduardo Ráfaga, el estratega incansable, sorprende con su astucia táctica y movimientos inesperados, dominando cada set con maestría.
      </p>
  </div>
  <div
      class="bg-white m-5 shadow-md rounded-lg overflow-hidden max-w-xs"
  >
      <img
          class="w-full"
          src="./assets/images/AI_Images_Tennis_3.jpeg"
          alt="player1"
      />
      <h2 class="font-bold text-center mt-3">Carlos Veloz</h2>
      <p class="px-3 text-center my-4">
        Valentina Centelleante, la estrella en ascenso, deslumbra con su juego versátil y una determinación que la hace imparable en la cancha.
      </p>
  </div>
  <div
      class="bg-white m-5 shadow-md rounded-lg overflow-hidden max-w-xs"
  >
      <img
          class="w-full"
          src="./assets/images/AI_Images_Tennis_6.jpeg"
          alt="player1"
      />
      <h2 class="font-bold text-center mt-3">Carlos Veloz</h2>
      <p class="px-3 text-center my-4">
        Martín Eclipse, el misterioso virtuoso, cautiva con su estilo único y habilidades sobresalientes, convirtiéndose en el favorito de la multitud. 
      </p>
  </div>
  <div
      class="bg-white m-5 shadow-md rounded-lg overflow-hidden max-w-xs"
  >
      <img
          class="w-full"
          src="./assets/images/AI_Images_Tennis_4.jpeg"
          alt="player1"
      />
      <h2 class="font-bold text-center mt-3">Carlos Veloz</h2>
      <p class="px-3 text-center my-4">
        Ana Tormenta, la tempestad del tenis, arrasa con su fuerza demoledora y velocidad deslumbrante, dejando huella en cada enfrentamiento. 
      </p>
  </div>
 
</div>