@font-face {
  font-family: "QuattrocentoSansRegular";
  src: url(../fonts/QuattrocentoSans-Regular.ttf);
}

@font-face {
  font-family: "QuattrocentoRegular";
  src: url(../fonts/Quattrocento-Regular.ttf);
}
